[buildout]
parts =
    pelican
    ghp-import

eggs = pelican
	docutils
    pygments
    feedgenerator
    jinja2
    ghp-import
    markdown

extensions = mr.developer
sources = sources
sources-dir = parts
auto-checkout = *

[sources]
pelican = git https://github.com/getpelican/pelican.git

[pelican]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = ${buildout:eggs}
entry-points = pelican=pelican:main
interpreter = py

[ghp-import]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = ${buildout:eggs}
interpreter = py
