<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Noisebridge Learning Python</title>
        <link rel="stylesheet" href="./theme/css/main.css">
                <link href="http://www.pycourse.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Noisebridge Learning Python Atom Feed" />
                
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="./">Noisebridge Learning Python </a></h1>
                <nav><ul>
                                                    <li><a href="./advanced-class-schedule/">Advanced Class Schedule</a></li>
                                    <li><a href="./schedule/">Class Schedule</a></li>
                                    <li><a href="./syllabus/">Welcome to Noisebridge Learning Python Class</a></li>
                                                                    <li ><a href="./category/advanced.html">advanced</a></li>
                                                </ul></nav>
        </header><!-- /#banner -->
                
            

                            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="./posts/2013/Jul/16/Templating and Jinja2/">Templating using Jinja2</a></h1> 
                    <footer class="post-info">
        <abbr class="published" title="2013-07-16T22:00:00">
                Tue 16 July 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info --><p>Templating is the process of taking information and placing it in a pre-defined set of text to produce a customized text file. This is particularly useful in the context of web development because the process of web templating is used extensively to create &quot;dynamically generated&quot; web pages.</p>
<p>Conceptually, the process of web templating is similar to generating a form letter. First, create the content for the web page. Then identify the parts of the web page where specific information (e.g. name, address, etc) should be inserted. This combination of content and where to insert specific info is called a template.</p>
<p>To create a dynamically generated web page the templating engine inserts information into the form or template whenever needed (i.e. when a user clicks on a link to the page).</p>
<div class="section" id="python-templating">
<h2>Python Templating</h2>
<p>There are many different approaches to templating and Python-based <a class="reference external" href="http://wiki.python.org/moin/Templating">templating</a> engines. From the simple, such as the built-in  <a class="reference external" href="http://docs.python.org/2/library/string.html#template-strings">string Template</a> to more structure and comprehensive approaches such as <a class="reference external" href="http://jinja.pocoo.org/docs/">Jinja2</a>. Some of these systems can be used on their own or in conjunction with a variety of web frameworks. Jinja2 is an example of a standalone templating system.</p>
<p>While others, such as <a class="reference external" href="https://www.djangoproject.com">Django</a> provides its own templating system that is intended to be used only with the framework. However, with some elbow grease it is possible to use something <a class="reference external" href="https://github.com/GaretJax/coffin">else</a> such as Jinja2. <a class="reference external" href="http://flask.pocoo.org">Flask</a> uses Jinja2 since it and Jinja2 share the same development team. Pylon is pre-configured to use either <a class="reference external" href="http://www.makotemplates.org">Mako</a>, <a class="reference external" href="http://genshi.edgewall.org">Genshi</a>, or Jinja2.</p>
<p>We're going to focus on Jinja2 because it's relatively easy to learn, widely-used, well-supported, and can be used independently of the Flask framework.</p>
</div>
<div class="section" id="jinja2-install">
<h2>Jinja2 Install</h2>
<p>To use Jinja2 as a standalone templating system use pip to install it:</p>
<div class="highlight"><pre><span class="go">pip install jinja2</span>
</pre></div>
<p>Once the install is complete, we're ready to use Jinja2. To use it import the module at the top of your script. However, we will also need to tell Jinja where to find the templates. Jinja2 uses an Environment object to store configuration information and we use this object to tell Jinja2 where to find the templates.</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Environment</span><span class="p">,</span> <span class="n">FileSystemLoader</span>

<span class="n">env</span> <span class="o">=</span> <span class="n">Environment</span><span class="p">(</span><span class="n">loader</span><span class="o">=</span><span class="n">FileSystemLoader</span><span class="p">(</span><span class="n">TEMPLATE_DIR</span><span class="p">))</span>
<span class="n">template</span> <span class="o">=</span> <span class="n">env</span><span class="o">.</span><span class="n">get_template</span><span class="p">(</span><span class="s">&#39;mytemplate.html&#39;</span><span class="p">)</span>
</pre></div>
<p>Going forward, we'll be taking at look at Jinja2 using Flask; however the templating syntax remains the same whether Jinja2 is used as part of a web framework or as a standalone system.</p>
<p>Note: it is also possible to pass the template as a string:</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">jinja2</span> <span class="kn">import</span> <span class="n">Template</span>
<span class="n">template</span> <span class="o">=</span> <span class="n">Template</span><span class="p">(</span><span class="s">&#39;Hello {{ name }}!&#39;</span><span class="p">)</span>
<span class="n">template</span><span class="o">.</span><span class="n">render</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s">&#39;John Doe&#39;</span><span class="p">)</span>
</pre></div>
</div>
<div class="section" id="jinja2-with-flask">
<h2>Jinja2 with Flask</h2>
<p>To show Jinja's features and syntax we'll use the Flask-Noiselist <a class="reference external" href="https://github.com/noisebridge/flask-noiselist">tutorial</a>. Clone and build the project.</p>
<dl class="docutils">
<dt>A few notes before we dive into the tutorial's templating section:</dt>
<dd><ol class="first last arabic simple">
<li>Templates are just text files.</li>
<li>Templates typically live in the /templates directory in a Flask project and by default Flask uses template files stored in the /templates directory.</li>
<li>Jinja2 templates does not require any special bootstrap code or incantations.</li>
</ol>
</dd>
</dl>
<p>The tutorial creates a main page template (templates/hello.html) that contains the following code:</p>
<div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html&gt;</span>
    <span class="nt">&lt;html&gt;</span>
        <span class="nt">&lt;head&gt;</span>
            <span class="nt">&lt;title&gt;</span>TODO at Noisebridge<span class="nt">&lt;/title&gt;</span>
        <span class="nt">&lt;/head&gt;</span>
        <span class="nt">&lt;body&gt;</span>
            <span class="nt">&lt;h1&gt;</span>My Personal TODO List<span class="nt">&lt;/h1&gt;</span>
            <span class="nt">&lt;ul&gt;</span>
                {% for todo in todos %}
                    <span class="nt">&lt;li&gt;</span>{{ todo }}<span class="nt">&lt;/li&gt;</span>
                {% endfor %}
            <span class="nt">&lt;/ul&gt;</span>
            <span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">&quot;&quot;</span> <span class="na">method=</span><span class="s">&quot;POST&quot;</span> <span class="na">id=</span><span class="s">&quot;add_to_todo_list&quot;</span><span class="nt">&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">name=</span><span class="s">&quot;todo_item&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">name=</span><span class="s">&quot;add_todo_submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Add to List!&quot;</span><span class="nt">/&gt;</span>
            <span class="nt">&lt;/form&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
<p>Jinja2 looks for braces that tells it to insert data or perform specific logic that will ultimately result in text-based insertions.</p>
<blockquote>
<ol class="arabic simple">
<li>A template contains variables and expressions which gets replaced with values by the templating engine. For example the {{ todo }} is a variable that will get replaced with a value.</li>
<li>A template can also contain tags, which control the logic of the templating process. In fact, most of the control structure from Python is available in Jinja2 wrapped by the {% %} tags. (Also see the discussion on Filters below.)</li>
<li>There are two kinds of delimiters, {{ }} and {% %}, which Jinja2 looks for tell it to execute statements (such as if /then or for loop) or to insert the result of an expression into the template.</li>
</ol>
</blockquote>
</div>
<div class="section" id="how-to-get-data-to-the-template">
<h2>How To Get Data To The Template</h2>
<p>So how does Jinja2 gets the data to make the substitution? When paired with Flask, use Flask's render_tenplate(). render_template() will take a template name and a variable list of data arguments to be used during the templating process. It will return the template with all requested substitutions.</p>
<p>render_template() will look for templates in the /templates directory:</p>
<div class="highlight"><pre><span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">render_template</span>

<span class="k">def</span> <span class="nf">index</span><span class="p">():</span>
    <span class="n">todo_list</span> <span class="o">=</span> <span class="p">[</span><span class="s">&quot;Watch TV&quot;</span><span class="p">,</span> <span class="s">&quot;Contemplate Work&quot;</span><span class="p">,</span> <span class="s">&quot;Go to Bed&quot;</span><span class="p">]</span>
    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;hello.html&#39;</span><span class="p">,</span> <span class="n">todos</span><span class="o">=</span><span class="n">todo_list</span><span class="p">)</span>
</pre></div>
<p>Note that in the todo example, we sent render_template() a list of todos. But we could have sent it a dictionary such as</p>
<div class="highlight"><pre><span class="n">user</span> <span class="o">=</span> <span class="p">{</span><span class="s">&#39;name&#39;</span><span class="p">:</span> <span class="s">&#39;Phong&#39;</span><span class="p">}</span>
<span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;index.html&#39;</span><span class="p">,</span> <span class="n">user</span><span class="o">=</span><span class="n">user</span><span class="p">)</span>
</pre></div>
<p>then in the template we could refer to the user dictionary as:</p>
<div class="highlight"><pre><span class="nt">&lt;h1&gt;</span>Hello, {{ user.name }}!<span class="nt">&lt;/h1&gt;</span>
</pre></div>
<p>Note that the template used a dot (.) to access the attribute of a variable.</p>
</div>
<div class="section" id="template-inheritance">
<h2>Template Inheritance</h2>
<p>Another great Jinja2 feature is template inheritance. Inheritance supports the building of a skeleton page that contains common elements for all pages such as links to Javascript libraries or CSS style sheets. This skeleton, or parent page, also contain place holders, which are called &quot;blocks&quot;, that child templates can overrides to provide specific implementation.</p>
<p>For example, Miguel <a class="reference external" href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates">Greenberg</a> used the following example in his tutorial to demonstrate how template inheritance works. In his example, the main base template includes the elements common to all pages (file name: base.html):</p>
<div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;head&gt;</span>
    {% if title %}
        <span class="nt">&lt;title&gt;</span>{{title}} - microblog<span class="nt">&lt;/title&gt;</span>
    {% else %}
        <span class="nt">&lt;title&gt;</span>microblog<span class="nt">&lt;/title&gt;</span>
    {% endif %}
    <span class="nt">&lt;/head&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="nt">&lt;div&gt;</span>Microblog: <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;/index&quot;</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/div&gt;</span>
        <span class="nt">&lt;hr&gt;</span>
        {% block content %}
        <span class="c">&lt;!-- insert page specific content here --&gt;</span>
        {% endblock %}
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
<p>He then defined a page specific template (file name: index.html) that defined a set of HTML code and data substitutions that should be inserted into the base template to produce a specific page.</p>
<div class="highlight"><pre>{% extends &quot;base.html&quot; %}
{% block content %}
    <span class="nt">&lt;h1&gt;</span>Hi, {{user.nickname}}!<span class="nt">&lt;/h1&gt;</span>
    {% for post in posts %}
        <span class="nt">&lt;div&gt;&lt;p&gt;</span>{{post.author.nickname}} says: <span class="nt">&lt;b&gt;</span>{{post.body}}<span class="nt">&lt;/b&gt;&lt;/p&gt;&lt;/div&gt;</span>
    {% endfor %}
{% endblock %}
</pre></div>
<p>In this process where one template (index.html) inserts itself in another (base.html), index.html is called the child template that &quot;inherits&quot; from the parent base.html. Furthermore, that the block content definition in index.html &quot;overrides&quot; the block in base.html.</p>
</div>
<div class="section" id="filters">
<h2>Filters</h2>
<p>Filters can take the values of variables and modify it. Specify a filter by typing the pipe symbol folow the name of the filter (with optional arguments in parenthesis). Filters can be chained with the output of one serving as the input for the next.</p>
<p>For example, {{ name|striptags|title }} will strip all HTML tags from the name and will title case the string. Jinja2 provides an extensive list of built in <a class="reference external" href="http://jinja.pocoo.org/docs/templates/#builtin-filters">filters</a> that provides access to the most common and useful Python functions, but the ability to define custom filters is really useful.</p>
<p>For example, if you need to wrap a link tag around URL string, one way is to define a custom filter which allows you to define the logic using Python, register the custom filter with Jinja2, and use the filter in the template.</p>
<div class="highlight"><pre><span class="k">def</span> <span class="nf">resurrect_links</span><span class="p">(</span><span class="n">tweet_text</span><span class="p">,</span> <span class="n">links</span><span class="p">):</span>
<span class="c"># links is a list of dict(s) containing info about links in the tweet</span>
    <span class="k">if</span> <span class="n">links</span><span class="p">:</span>
        <span class="c"># if there are multiple links then sort in reverse order of indices</span>
        <span class="c"># such that the last link in the tweet gets resurrected first.</span>
        <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="n">links</span><span class="p">)</span> <span class="o">&gt;</span> <span class="mi">1</span><span class="p">:</span>
            <span class="n">links</span><span class="o">.</span><span class="n">sort</span><span class="p">(</span><span class="n">key</span><span class="o">=</span><span class="k">lambda</span> <span class="n">link</span><span class="p">:</span><span class="n">link</span><span class="p">[</span><span class="s">&#39;indices&#39;</span><span class="p">],</span> <span class="n">reverse</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>

    <span class="c"># resurrect each links</span>
    <span class="k">for</span> <span class="n">link</span> <span class="ow">in</span> <span class="n">links</span><span class="p">:</span>
        <span class="n">start</span><span class="p">,</span> <span class="n">end</span> <span class="o">=</span> <span class="n">link</span><span class="p">[</span><span class="s">&#39;indices&#39;</span><span class="p">]</span>
        <span class="n">tweet_text</span> <span class="o">=</span> <span class="n">tweet_text</span><span class="p">[:</span><span class="n">start</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;&lt;a href=</span><span class="se">\&quot;</span><span class="s">&quot;</span> <span class="o">+</span> <span class="n">link</span><span class="p">[</span><span class="s">&#39;resource_url&#39;</span><span class="p">]</span> <span class="o">+</span> \
            <span class="s">&quot;</span><span class="se">\&quot;</span><span class="s">&quot;</span> <span class="o">+</span> <span class="s">&quot;&gt;&quot;</span> <span class="o">+</span> <span class="n">link</span><span class="p">[</span><span class="s">&#39;display_url&#39;</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;&lt;/a&gt;&quot;</span> <span class="o">+</span> <span class="n">tweet_text</span><span class="p">[</span><span class="n">end</span><span class="p">:]</span>
    <span class="k">return</span> <span class="n">tweet_text</span>

<span class="c"># registers the custom filter with Jinja2</span>
<span class="n">env</span><span class="o">.</span><span class="n">filters</span><span class="p">[</span><span class="s">&#39;resurrect_links&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">resurrect_links</span>
</pre></div>
<p>and the template would use the filter as follow.</p>
<div class="highlight"><pre><span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="n">tweet</span><span class="o">.</span><span class="n">links</span> <span class="o">%</span><span class="p">}</span>
    <span class="o">&lt;</span><span class="n">p</span><span class="o">&gt;</span><span class="p">{{</span> <span class="n">tweet</span><span class="o">.</span><span class="n">text</span><span class="o">|</span><span class="n">resurrect_links</span><span class="p">(</span><span class="n">tweet</span><span class="o">.</span><span class="n">links</span><span class="p">)</span> <span class="p">}}</span><span class="o">&lt;/</span><span class="n">p</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="k">else</span> <span class="o">%</span><span class="p">}</span>
    <span class="o">&lt;</span><span class="n">p</span><span class="o">&gt;</span><span class="p">{{</span> <span class="n">tweet</span><span class="o">.</span><span class="n">text</span> <span class="p">}}</span><span class="o">&lt;/</span><span class="n">p</span><span class="o">&gt;</span>
<span class="p">{</span><span class="o">%</span> <span class="n">endif</span> <span class="o">%</span><span class="p">}</span>
</pre></div>
</div>
<p>There are <a href="./posts/2013/Jul/16/Templating and Jinja2/#disqus_thread">comments</a>.</p>                </article>
                            </aside><!-- /#featured -->
                            <section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">
                                                

                 
                        <li><article class="hentry">    
                <header>
                    <h1><a href="./posts/2013/Jul/02/generators-in-python/" rel="bookmark"
                           title="Permalink to Generators in Python">Generators in Python</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2013-07-02T14:00:00">
                Tue 02 July 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info -->                <p class="first last">Generators in Python</p>

                <a class="readmore" href="./posts/2013/Jul/02/generators-in-python/">read more</a>
                <p>There are <a href="./posts/2013/Jul/02/generators-in-python/#disqus_thread">comments</a>.</p>                </div><!-- /.entry-content -->
            </article></li>
                            

                 
                        <li><article class="hentry">    
                <header>
                    <h1><a href="./posts/2013/May/13/deployment-tutorial/" rel="bookmark"
                           title="Permalink to Deploy Tutorial May 14, 2013">Deploy Tutorial May 14, 2013</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2013-05-13T22:00:00">
                Mon 13 May 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info -->                <p class="first last">Using fabric to deploy python apps</p>

                <a class="readmore" href="./posts/2013/May/13/deployment-tutorial/">read more</a>
                <p>There are <a href="./posts/2013/May/13/deployment-tutorial/#disqus_thread">comments</a>.</p>                </div><!-- /.entry-content -->
            </article></li>
                            

                 
                        <li><article class="hentry">    
                <header>
                    <h1><a href="./posts/2013/Jan/16/installing-postgresql-macosx/" rel="bookmark"
                           title="Permalink to Installing PostgreSQL on Mac OSX 10.8">Installing PostgreSQL on Mac OSX 10.8</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2013-01-16T14:00:00">
                Wed 16 January 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info -->                <p class="first last">Installing PostgreSQL on OSX 10.8</p>

                <a class="readmore" href="./posts/2013/Jan/16/installing-postgresql-macosx/">read more</a>
                <p>There are <a href="./posts/2013/Jan/16/installing-postgresql-macosx/#disqus_thread">comments</a>.</p>                </div><!-- /.entry-content -->
            </article></li>
                            

                 
                        <li><article class="hentry">    
                <header>
                    <h1><a href="./posts/2013/Jan/12/dojo-notes/" rel="bookmark"
                           title="Permalink to Advanced Class Dojo Notes 2013-01-12">Advanced Class Dojo Notes 2013-01-12</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2013-01-12T14:00:00">
                Sat 12 January 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info -->                <p class="first last">Notes from Advanced Class Dojo on 2013-01-12</p>

                <a class="readmore" href="./posts/2013/Jan/12/dojo-notes/">read more</a>
                <p>There are <a href="./posts/2013/Jan/12/dojo-notes/#disqus_thread">comments</a>.</p>                </div><!-- /.entry-content -->
            </article></li>
                            

                 
                        <li><article class="hentry">    
                <header>
                    <h1><a href="./posts/2013/Jan/10/installing-postgresql-ubuntu/" rel="bookmark"
                           title="Permalink to Installing PostgreSQL on Ubuntu 12.04">Installing PostgreSQL on Ubuntu 12.04</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
        <abbr class="published" title="2013-01-10T14:00:00">
                Thu 10 January 2013
        </abbr>

                <address class="vcard author">
                By <a class="url fn" href="./author/kellan.html">Kellan</a>
        </address>
        <p>In <a href="./category/advanced.html">advanced</a>. </p>

</footer><!-- /.post-info -->                <p class="first last">Installing PostgreSQL on Ubuntu 12.04</p>

                <a class="readmore" href="./posts/2013/Jan/10/installing-postgresql-ubuntu/">read more</a>
                <p>There are <a href="./posts/2013/Jan/10/installing-postgresql-ubuntu/#disqus_thread">comments</a>.</p>                </div><!-- /.entry-content -->
            </article></li>
                            </ol><!-- /#posts-list -->
                            <p class="paginator">
        Page 1 / 1
    </p>
                        </section><!-- /#content -->
                    <section id="extras" class="body">
                                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="http://www.pycourse.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate">atom feed</a></li>
                            
                                                    <li><a href="http://www.eleddy.com">Liz's Site</a></li>
                                                    <li><a href="http://twitter.com/eleddy">Liz's Twitter</a></li>
                                                    <li><a href="http://kellanjacobs.com">Kellan's Site</a></li>
                                                    <li><a href="http://twitter.com/kellanjacobs">Kellan's Twitter</a></li>
                                                </ul>
                </div><!-- /.social -->
                </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

<script type="text/javascript">
    var disqus_shortname = 'pycourse';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>